<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160546174480-33a1aaraj5tniu0n9h7e0evbqajbbvgk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160546174480-33a1aaraj5tniu0n9h7e0evbqajbbvgk</string>
	<key>API_KEY</key>
	<string>AIzaSyAYxJgCti2pxktmbbmwy8xWHE_6bLY6Apo</string>
	<key>GCM_SENDER_ID</key>
	<string>160546174480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IOS-Study.Warning</string>
	<key>PROJECT_ID</key>
	<string>warning-62cb9</string>
	<key>STORAGE_BUCKET</key>
	<string>warning-62cb9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160546174480:ios:416ca131800143d4b17c95</string>
</dict>
</plist>