<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5204344821-8oqnqtk9t7hac5dkn7ic472i2edit0cb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5204344821-8oqnqtk9t7hac5dkn7ic472i2edit0cb</string>
	<key>API_KEY</key>
	<string>AIzaSyC9rwZNrrSb2ppM0P0xf0rmezgxe_H-4DA</string>
	<key>GCM_SENDER_ID</key>
	<string>5204344821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IOS-Study.CreditCardList</string>
	<key>PROJECT_ID</key>
	<string>creditcard-list-3dfb8</string>
	<key>STORAGE_BUCKET</key>
	<string>creditcard-list-3dfb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:5204344821:ios:522f532873e5f5f7242abc</string>
	<key></key>
	<string></string>
</dict>
</plist>
