<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446941142665-h1fecmu1lgksa7mms2ftkmi79ramt1om.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446941142665-h1fecmu1lgksa7mms2ftkmi79ramt1om</string>
	<key>API_KEY</key>
	<string>AIzaSyBUD23Hszduzn4qV0OQNwOxnB4DJtDjogw</string>
	<key>GCM_SENDER_ID</key>
	<string>446941142665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IOS-Study.SpotifyLoginSampleApp</string>
	<key>PROJECT_ID</key>
	<string>spotify-login-sample-75353</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-login-sample-75353.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446941142665:ios:09d730f1b415c051877058</string>
</dict>
</plist>